node_modules
raw1/node_modules
lec3/raw/Chennai Super Kings
lec3/raw/Delhi Capitals
lec3/raw/Kings XI Punjab
lec3/raw/Kolkata Knight Riders
lec3/raw/Mumbai Indians
lec3/raw/Rajasthan Royals
lec3/raw/Royal Challengers Bangalore
lec3/raw/Sunrisers Hyderabad
